@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: 'FiraSans';
    src: url(../fonts/FiraSans-Regular.woff);
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Bold.woff);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    color: #EFE7E2;
    font-family: 'FiraSans';
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding: 35px 0px;
    background: #3B322D;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__body {
    display: flex;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}

.menu__link {
    font-size: 15px;
    line-height: 135%;
}

.menu__link:hover {
    color: #FF6E40;
    transition: 0.3s ease;
}

.header__items {
    display: flex;
}

.header__item {
    display: flex;
}

.header__item:first-child {
    margin-right: 42px;
}

.header__text {
    margin-right: 15px;
    font-size: 14px;
    line-height: 135%;
    text-align: right;
    display: block;
}

.header__text span {
    display: block;
}

.hero__team {
    background: #3B322D;
}

.hero__wrapper {
    background-image: url(../img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0px 63px 50px;
}

.hero__team-title {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 32px;
    max-width: 680px;
}

.hero__team-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #EFE7E2;
    max-width: 228px;
}

.btn:hover {
    background-color: #f3420c;
    transition: 0.8s ease
}

.btn-outline:hover {
    background-color: #EFE7E2;
    color: #f3420c;
    transition: 0.8s ease
}

.works {
    background-color: #3B322D;
    padding-top: 90px;
}

.work__top {
    display: flex;
    background-color: #251D1A;
    margin-bottom: 20px;
    
}

.work__author {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
}

.author-img {
    margin-right: 50px;
}

.work__info {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
}

.work__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B7AAA2;
}

.work__text:first-child {
    max-width: 280px;
    margin-right: 20px;
}

.work__author-name {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #EFE7E2;
    max-width: 150px;
}

.work__bottom {
    padding-bottom: 90px;
}

.work__bottom-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.work-img {
    object-fit: cover;
    flex: 1 1 20%;
}

.work-btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 25px 51px;
    background-color: #FF6E40;
    color: #FFFFFF;
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    max-width: 258px;
}

.work-btn img {
    margin-right: 12px;
}

.form {
    padding: 30px 0px 120px 0px;
    background-color: #3B322D;
}

.form__item {
    text-align: center;
}

.form__book {
    width: 100%;
    padding: 70px 150px;
    background: #FF6E40;
}

.form__book-label {
    align-items: center;
    flex: 0 1 20%;
}   

.form__book-label:last-child {
    margin-top: 24px;
    display: block;
}

.form__book-input {
    padding: 22px 20px;
    background-color: transparent;
    border: 1px solid #000000;
    gap: 20px;
    align-items: center;
    color: #fff;
    min-width: 323px;
    min-height: 68px;
}

.form__book-input::placeholder {
    color: #EFE7E2;
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
}

.form__text {
    text-align: center;
}

.form__title {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 133%;
    color: #000000;
}

.form__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: #3B322D;
    margin-top: 12px;
    margin-bottom: 35px;
}

.form__btn {
    font-family: 'PlayfairDisplay';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    background-color: #000000;
    border: none;
    padding: 18.5px 51px;
    min-width: 194px;
}

.form__btn:hover {
    background-color: #fff;
    color: #000000;
    transition: 0.9s ease;
}

.form__book-input:focus {
    outline: none;
}

.checkbox {
    font-weight: 400;
    font-size: 13px;
    line-height: 134.09%;
    color: #B7AAA2;
}

.checkbox__link {
    text-decoration: underline;
}

.main__form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.contacts {
    padding: 60px 0px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacts__wrapper {
    max-width: 480px;
}

.contacts__box {
    padding: 65px 38px 55px 57px;
    background-color: #251D1A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contacts__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #EFE7E2;
    margin-bottom: 34px;
}

.contacts__link{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contacts__link img {
    margin-right: 31px;
}

.contacts__link p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
}

.footer {
    padding: 57px 0px;
    background-color: #3B322D;
}

.footer__text {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@media (max-width: 1300px) {

}

@media (max-width: 1130px) {
    .menu__list {
        gap: 20px;
        margin-right: 25px;
    }
    .header__text {
        margin-right: 5px;
    }
    .header__item:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 1080px) {

}

@media (max-width: 992px) {
    .header__wrapper {
        justify-content: space-between;
    }
    .lock-svg svg {
        display: block;
        cursor: pointer;
        position: relative;
        top: 35px;
        right: 15px;
    }
    .menu__icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        cursor: pointer;
        z-index: 100;
    }
    .menu__icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #FF6E40;
    }
    
    .menu__icon span:first-child {
        top: 0;
    }
    
    .menu__icon span:last-child {
        top: auto;
        bottom: 0;
    }
    .active > span:first-child {
        z-index: 101;
    }
    .active > span{
        transform: scale(0);
    }
    
    .active > span:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
        }
    .active > span:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
    }
    .menu__body {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: #251D1A;
        transition: all .2s;
        overflow: auto;
        z-index: 1;
    }
    .active {
        left: 0;
    }
    .lock {
        overflow: hidden;
    }
    .menu__list {
        padding-top: 30px;
        flex-direction: column;
        gap: 0px;
        margin: auto;
    }
    .menu__link {
        display: block;
        font-size: 30px;
        line-height: 70px;
    }
    .header__item {
        display: none;
    }
    .main__form {
        flex-direction: column;
    }
    .form__book-input {
        min-width: 100%;
    }
    .form__book {
        padding: 50px 120px;
    }
}

@media (max-width: 880px) {
    .work__top {
        flex-direction: column;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .work__author-name {
        max-width: none;
    }
    .work__info {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .work__text:first-child {
        max-width: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 730px) {
    .hero__wrapper {
        padding-left: 15px;
    }
    .hero__team-title {
        font-size: 55px;
    }
    .form__title {
        font-size: 28px;
    }
    .form__subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .hero__wrapper {
        padding-left: 0px;
    }
    .hero__team-title {
        font-size: 34px;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero__team-subtitle {
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        max-width: none;
    }
    .author-img {
        margin-right: 20px;
    }
    .form__book {
        padding: 50px 60px;
    }
}

@media (max-width: 530px) {

}

@media (max-width: 480px) {
    .form__book {
        padding: 40px 20px;
    }
    .form__title {
        font-size: 20px;
    }
    .form__subtitle {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .form__book-label:last-child {
        margin-top: 20px;
        font-size: 12px;
    }
    .contacts__link p {
        font-size: 18px;
    }
    .contacts__link img {
        margin-right: 15px;
    }
    .contacts__box {
        padding: 55px 38px 45px 30px;
    }
}

@media (max-width: 430px) {
    
    .work__author {
        flex-wrap: wrap;
    }
    .author-img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
